<div class="row">
  <div class="col-md-8 row list-group-item clearfix" style="cursor: pointer; margin-left: auto;" [routerLink]="book.id" routerLinkActive="active">
    <div class="row">
    <div class="col-md-3">{{book.book_name}}</div>
    <div class="col-md-3">{{book.author_name}}</div>
    <div class="col-md-3">{{book.year_published}}</div>
    <div class="col-md-3">₹{{book.price}}</div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-2">
      </div>
    <div class="col-md-5">
      <button type="button" class="btn btn-primary" [routerLink]='[book.id,"edit"]'>update</button>
    </div>
    <div class="col-md-5">
      <button type="button" class="btn btn-danger" (click)="onDelete(book.id)">delete</button>
    </div>
  </div>
  </div>
</div>

